<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FindMyRestro</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/themify-icons.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/nice-select.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/flaticon.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/gijgo.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/animate.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/slick.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/slicknav.css'%}"/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'%}"/>

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!-- <link rel="stylesheet" href="{% static 'css/responsive.css'%}"/> -->
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- header-start -->
  <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area" >
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-3 col-md-2 col-sm-3 col-xs-3">
                                <div class="logo-img">
                                    <a href="../../home">
                                       <img class="img-fluid" src="{% static 'img/logo.png' %}" style="height:150px;">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="../">Home</a></li>
                                            <li><a href="../contact">Contact Us</a></li>
                                            <li><a href="../about">About</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="d-none d-lg-block">
                                        {% if user.is_authenticated %}

                                        <div class="col-xl-1 col-lg-1 d-none d-lg-block float-left">
                                            <div class="Appointment">
                                                 <div class="book_btn d-none d-lg-block">
                                                    <a href="../userprofile">
                                                        {{request.user}}
                                                    </a>
                                                 </div>
                                            </div>
                                        </div>

                                       <div class="col-xl-1 col-lg-1 d-none d-lg-block float-right">
                                            <div class="Appointment">
                                                 <div class="book_btn d-none d-lg-block">
                                                    <a href="../userlogout">Logout</a>
                                                 </div>
                                            </div>
                                        </div>

                                        {% else %}

                                       <div class="col-xl-1 col-lg-1 d-none d-lg-block float-left">
                                            <div class="Appointment">
                                                 <div class="book_btn d-none d-lg-block">
                                                    <a href="../userlogin">login</a>
                                                 </div>
                                            </div>
                                        </div>



                                        <div class="col-xl-1 col-lg-1 d-none d-lg-block float-right">
                                            <div class="Appointment">
                                                 <div class="book_btn d-none d-lg-block">
                                                    <a href="../usersignup">Signup</a>
                                                 </div>
                                            </div>
                                        </div>

                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-10">
                        <div class="slider_text text-center justify-content-center">
                            <p>Lets celebrate the beauty of Nepal together!</p>
                            <h3>Find Attraction Across the Country Here</h3>

                            <div class="search_form">
                                <form method="post" action="search">
                                    {% csrf_token %}
                                    <div class="row align-items-center">

                                        <div class="col-xl-9 col-md-8">
                                            <div class="input_field location">
                                                <input type="text" name="srch" placeholder="Enter Location or City name">
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-4">
                                            <div class="button_search">
                                                <input class="boxed-btn2" type="submit">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                                <div>
                                    {% if messages %}
                                        {% for k in messages %}
                                            <li style="color:red">{{ k }}</li>
                                        {% endfor %}
                                    {% endif %}
                                </div>



                            <div class="quality">
                               <h5 style="color:white;font-family:Arial;margin-left:-500px;">To see the list :</h5>
                                <ul>
 <li  >

                                        <a href="/restaurants/Kathmandu" href="#b"><button >Kathmandu</button></a>

                                    </li>


                                    <li >
                                        <a href="/restaurants/Pokhara"><button >Pokhara</button></a>
                                    </li>

                                    <li >
                                        <a href="/restaurants/Chitwan"><button >Chitwan</button></a>
                                    </li>

                                    <li >
                                        <a href="/restaurants/Lumbini"><button >Lumbini</button></a>
                                    </li>

                                    <li >
                                        <a href="/restaurants/Janakpur"><button >Janakpur</button></a>
                                    </li>

                                </ul>
                            </div>
<br> <section id="b">
    <div class="container">
            <div class="row"  style="margin-bottom:-200px;background:linear-gradient(to right, #ffd4c1 0%, rgba(0, 29, 56, 0.8) 100%);border-radius:50px;">

               {% for m in names|slice:6 %}
                <table border="0px" width=500px">

                    <tr>
                     <td> <a href="/restaurant/{{m.id}}"><h4 style="color:black;font-family:Raleway, sans-serif;">{{m.restaurantName}},{{m.location}}</h4></a></td>

                </tr></table>


                {% endfor %}


                 {% for m in names1|slice:6 %}
                <table border="0px" width=500px">

                    <tr>
                     <td> <a href="/restaurant/{{m.id}}"><h4 style="color:black;font-family:Raleway, sans-serif;">{{m.restaurantName}},{{m.location}}</h4></a></td>

                </tr></table>


                {% endfor %}

            </div>
      </div>




     </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->








      <div class="popular_catagory_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-60 text-center">
                        <p>Confused?</p>
                        <h3>
                            We Recommend
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
               {% for a in restaurants|slice:8 %}
                <div class="col-xl-3 col-md-4 col-lg-3">
                    <div class="single_catagory">
                        <div class="thumb">
                            <img src="{% static '/img/catagory/'%}{{a.photo}}" alt="">
                        </div>
                        <div class="hover_overlay">
                            <div class="hover_inner">
                               <a href="restaurant/{{a.id}}"><h4>{{a.restaurantName}}</h4></a>
                                <span>Ratings: {{a.Ratings}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>


    <div class="explorer_europe">
        <div class="container">
            <div class="explorer_wrap">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-4">
                        <h3>Explore Nepal</h3>
                    </div>
                    <div class="col-xl-6 col-md-8">
                        <div class="explorer_tab">
                            <nav>
                                <div class="nav" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                        href="#nav-home" role="tab" aria-controls="nav-home"
                                        aria-selected="true">Kathmandu</a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                        href="#nav-profile" role="tab" aria-controls="nav-profile"
                                        aria-selected="false">Pokhara</a>

                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                        href="#nav-contact" role="tab" aria-controls="nav-contact"
                                        aria-selected="false">Chitwan</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab2" data-toggle="tab"
                                        href="#nav-contact2" role="tab" aria-controls="nav-contact"
                                        aria-selected="false">Lumbini</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab3" data-toggle="tab"
                                        href="#nav-contact3" role="tab" aria-controls="nav-contact"
                                        aria-selected="false">Janakpur</a>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">

                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            {% for a in restaurants|slice:6 %}
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single_explorer">
                                    <div class="thumb">
                                        <img src="{% static '/img/kathmandu/'%}{{a.photo}}" alt="">
                                    </div>
                                    <div class="explorer_bottom d-flex">
                                        <div class="icon">
                                            <i class="flaticon-food"></i>
                                        </div>
                                        <div class="explorer_info">
                                            <h3><a href="restaurant/{{a.id}}">{{a.restaurantName}}</a>
                                           <p>{{a.location}}</p>
                                                    <ul>
                                                        <li> <i class="fa fa-phone"></i>
                                                            {{a.contactNo}}</li>
                                                        <li><i class="fa fa-envelope"></i> {{a.emailAddress}}</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                  <div class="tab-pane fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row">
                            {% for a in restaurants|slice:12 %}
                            {% if 6 < a.id %}
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single_explorer">
                                    <div class="thumb">
                                        <img src="{% static '/img/Pokhara/'%}{{a.photo}}" alt="">
                                    </div>
                                    <div class="explorer_bottom d-flex">
                                        <div class="icon">
                                            <i class="flaticon-food"></i>
                                        </div>
                                        <div class="explorer_info">
                                            <h3><a href="restaurant/{{a.id}}">{{a.restaurantName}}</a>
                                           <p>{{a.location}}</p>
                                                    <ul>
                                                        <li> <i class="fa fa-phone"></i>
                                                            {{a.contactNo}}</li>
                                                        <li><i class="fa fa-envelope"></i> {{a.emailAddress}}</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="row">
                            {% for a in restaurants|slice:18 %}
                             {% if 12 < a.id %}
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single_explorer">
                                    <div class="thumb">
                                        <img src="{% static '/img/Chitwan/'%}{{a.photo}}" alt="">
                                    </div>
                                    <div class="explorer_bottom d-flex">
                                        <div class="icon">
                                            <i class="flaticon-food"></i>
                                        </div>
                                        <div class="explorer_info">
                                            <h3><a href="restaurant/{{a.id}}">{{a.restaurantName}}</a>
                                           <p>{{a.location}}</p>
                                                    <ul>
                                                        <li> <i class="fa fa-phone"></i>
                                                            {{a.contactNo}}</li>
                                                        <li><i class="fa fa-envelope"></i> {{a.emailAddress}}</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                  <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact-tab2">
                        <div class="row">
                                        {% for a in restaurants|slice:24 %}
                            {% if 18 < a.id %}
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single_explorer">
                                    <div class="thumb">
                                        <img src="{% static '/img/Lumbini/'%}{{a.photo}}" alt="">
                                    </div>
                                    <div class="explorer_bottom d-flex">
                                        <div class="icon">
                                            <i class="flaticon-food"></i>
                                        </div>
                                        <div class="explorer_info">
                                            <h3><a href="restaurant/{{a.id}}">{{a.restaurantName}}</a>
                                           <p>{{a.location}}</p>
                                                    <ul>
                                                        <li> <i class="fa fa-phone"></i>
                                                            {{a.contactNo}}</li>
                                                        <li><i class="fa fa-envelope"></i> {{a.emailAddress}}</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                  <div class="tab-pane fade" id="nav-contact3" role="tabpanel" aria-labelledby="nav-contact-tab3">
                    <div class="row">
                                         {% for a in restaurants|slice:30 %}
                        {% if 24 < a.id %}
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_explorer">
                                <div class="thumb">
                                    <img src="{% static '/img/Janakpur/'%}{{a.photo}}" alt="">
                                </div>
                                <div class="explorer_bottom d-flex">
                                    <div class="icon">
                                        <i class="flaticon-food"></i>
                                    </div>
                                    <div class="explorer_info">
                                        <h3><a href="restaurant/{{a.id}}">{{a.restaurantName}}</a>
                                       <p>{{a.location}}</p>
                                                <ul>
                                                    <li> <i class="fa fa-phone"></i>
                                                        {{a.contactNo}}</li>
                                                    <li><i class="fa fa-envelope"></i> {{a.emailAddress}}</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endif %}
                    {% endfor %}



                </div>
              </div>
            </div>

        </div>
    </div>







    <!-- footer start -->
	<section id="section">
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <h3 class="footer_title">
										About
                            </h3>
                                </a>
                            </div>
                            <p>
                                We are team of 4 people. We hope to make it easy for you to find a go to place to enjoy moments with your friends and family.
								Nepal is such a beautiful place and we cherish that all the time. So now its time for us to celebrate it together. <br> <br> Join us here !
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="footer_widget">



                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Useful Links
                            </h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#"> About</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">

							 <h3 class="footer_title">
                                 To contact us
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your email address">
                                <button type="submit">Send</button>
                            </form>
                            <p class="newsletter_text">Leave your email address and our team will contact you shortly. <br>OR, You can email us at <u>find@myrestaurant.com.np</u> <br>
							   Contact Address:+977 984-4123456
                                </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	</section>
    <!--/ footer end  -->

    <!-- link that opens popup -->
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script>
    <!-- JS here -->

   <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- <script src="{% static 'js/gijgo.min.js' %}"></script> -->
    <script src="{% static 'js/slick.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>


    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>











